<tr>
    <td class="identity-name-td">
        <div class="identity-name-outer">
            <div class="identity-name-inner" title="{{$identity.0}}">
                <span title="{{$identity.0}}">{{$identity.0}}</span>
            </div>
        </div>
    </td>
    <td class="identity-checked-td" title="{{$identity.3}}">
        <i class="fa fa-{{$identity.2}} {{$identity.4}}" title="{{$identity.3}}"></i>
    </td>
</tr>
<tr">
    <td class="identity-url-td">
        <div class="identity-url-outer">
            <div class="identity-url-inner">
                <a href="{{$identity.1}}" title="{{$identity.1}}">{{$identity.1}}</a>
            </div>
        </div>
    </td>
</tr>
