{{include file="field_input.tpl" field=$converse_width}}
{{include file="field_input.tpl" field=$font_size}}

<div class="settings-submit-wrapper" >
        <button type="submit" name="fresh-settings-submit" class="btn btn-primary">{{$submit}}</button>
</div>
